.inputLogin {
    width: 400px;
    height: 50px;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F2B6D2;
    color: white;
    outline: none;
    font-size: 18px;
    text-align: center;
};

.inputLogin:hover {
    background-color: #F2A0CD;
}
