.formBtn{
    width: 250px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F2A0CD;
    color: white;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

.formBtn:hover{
    background-color: #F2A0CD;
    opacity: 0.8;
}
